<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Jejak_Kuno.css" type="text/css">
    <title>Jejak Kuno</title>
</head>

<body>
    <div class="all">
        <nav class="navbar">
            <div class="nav container">
                <input type="checkbox" name="" id="">
                <div class="hamburger">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>

                <ul class="menu">
                    <li><a class="nav-link active" href="Jejak_Kuno.html">Home</a></li>
                    <li><a class="nav-link" href="About.html">About</a></li>
                    <li><a class="nav-link" href="Kategori.html">Kategori</a></li>
                    <li><a class="nav-link" href="Tokoh.html">Tokoh</a></li>
                </ul>
                <h1 class="logo"><a href="Jejak_Kuno.html">Jejak Kuno</a></h1>
            </div>
        </nav>


        <div class="home">
            <section class="showcase" id="home">
                <div class="showcase2">
                    <div class="show">
                        <h1 class="title-utama">Mari Menjelajahi Sejarah </h1>
                        <p>Sejarah adalah siapa kita dan mengapa kita seperti ini.</p>
                        <a href="About.html" class="button button2">Mulai</a>
                    </div>
                </div>

            </section>
        </div>


        <footer id="footer">
            <!-- <div class="foot container">
                <ul class="menu2">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Tokoh</a></li>
                    <li><a href="">Koleksi</a></li>
                    <li><a href="">Kategori</a></li>
                    <li><a href="">Kontak</a></li>
                </ul>
                <h1 class="logo2"><a href="">Citraloka</a></h1>
            </div> -->
            <h2>Jejak Kuno &copy; all rights reserved</h2>
        </footer>

        <script src="Jejak_Kuno.js"></script>
    </div>
</body>

</html>