<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Jejak_Kuno.css" type="text/css">
    <title>Jejak Kuno</title>
</head>

<body>
    <div class="all">
        <nav class="navbar">
            <div class="nav container">
                <input type="checkbox" name="" id="">
                <div class="hamburger">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>

                <ul class="menu">
                    <li><a class="nav-link" href="Jejak_Kuno.html">Home</a></li>
                    <li><a class="nav-link" href="About.html">About</a></li>
                    <li><a class="nav-link active" href="Kategori.html">Kategori</a></li>
                    <li><a class="nav-link" href="Tokoh.html">Tokoh</a></li>
                </ul>
                <h1 class="logo"><a href="Jejak_Kuno.html">Jejak Kuno</a></h1>
            </div>
        </nav>


        <div class="kategori">
            <section id="kategori">
                <h2>Kategori Sejarah</h2>
                <div class="kategori-container container">

                    <div class="kategori-sejarah sejarah sebagai ilmu">
                        <div class="img-container">
                            <img src="file:///C:/Users/Lenovo/Documents/CODING/Jejak Kuno/component/images/ILMU.png"
                                alt="error" />
                            <div class="img">
                                <h3>Sebagai Ilmu</h3>
                                <a href="https://www.kompas.com/skola/read/2023/03/11/220000669/sejarah-sebagai-ilmu--pengertian-dan-ciri-cirinya?page=all#:~:text=KOMPAS.com%20%2D%20Sejarah%20sebagai%20ilmu,masa%20lalu%20melalui%20metode%20ilmiah."
                                    class="button button2" target="blank">Pelajari</a>
                            </div>
                        </div>
                    </div>

                    <div class="kategori-sejarah sejarah sebagai peristiwa">
                        <div class="img-container">
                            <img src="file:///C:/Users/Lenovo/Documents/CODING/Jejak Kuno/component/images/Peristiwa.png"
                                alt="error" />
                            <div class="img">
                                <h3>Sebagai Peristiwa</h3>
                                <a href="https://www.kompas.com/skola/read/2020/12/11/161732769/sejarah-sebagai-peristiwa-pengertian-ciri-dan-contohnya?page=all"
                                    class="button button2" target="blank">Pelajari</a>
                            </div>
                        </div>
                    </div>

                    <div class="kategori-sejarah sejarah sebagai seni">
                        <div class="img-container">
                            <img src="file:///C:/Users/Lenovo/Documents/CODING/Jejak Kuno/component/images/SENI.png"
                                alt="error" />
                            <div class="img">
                                <h3>Sebagai Seni</h3>
                                <a href="https://www.gramedia.com/literasi/sejarah-sebagai-seni/#:~:text=Sejarah%20sebagai%20seni%20memiliki%20maksud,kali%20menceritakan%20kisah%2Dkisah%20sejarah."
                                    class="button button2" target="blank">Pelajari</a>
                            </div>
                        </div>
                    </div>

                    <div class="kategori-sejarah sejarah sebagai cerita">
                        <div class="img-container">
                            <img src="file:///C:/Users/Lenovo/Documents/CODING/Jejak Kuno/component/images/KISAH.png"
                                alt="error" />
                            <div class="img">
                                <h3>Sebagai Cerita</h3>
                                <a href="https://www.kompas.com/skola/read/2022/08/05/110000269/pengertian-sejarah-sebagai-kisah#:~:text=Pengertian%20sejarah%20sebagai%20kisah%20adalah%20narasi%20berisi%20peristiwa%20di%20masa,dan%20diceritakan%20kembali%20oleh%20seseorang.&text=Sejarah%20sebagai%20kisah%20dapat%20disusun,masa%20lampau%20oleh%20saksi%20mata."
                                    class="button button2" target="blank">Pelajari</a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>


        <footer id="footer">
            <!-- <div class="foot container">
                <ul class="menu2">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Tokoh</a></li>
                    <li><a href="">Koleksi</a></li>
                    <li><a href="">Kategori</a></li>
                    <li><a href="">Kontak</a></li>
                </ul>
                <h1 class="logo2"><a href="">Citraloka</a></h1>
            </div> -->
            <h2>Jejak Kuno &copy; all rights reserved</h2>
        </footer>

        <script src="Jejak_Kuno.js"></script>
    </div>
</body>

</html>